.hero-section {
    background-image: url('/images/background41.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    /* opacity: 0.3; */
    height: 100vh;
    
}


.fade-in {
    opacity: 0;
    animation: fadeInAnimation 1s ease-in-out forwards;
}

.suggestions-container {
    max-height: 150px; /* Adjust as needed */
    overflow-y: auto;
  }
  
  .suggestions-list {
    list-style-type: none;
    padding-left: 0;
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
  }

  
    

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
